<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body id="handle">
  <h1>This is api</h1>

  <!-- <redoc spec-url='http://petstore.swagger.io/v2/swagger.json'></redoc>
  <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script> -->
</body>

</html>